<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bawei.mapper.EmplMapper" >
  <resultMap id="BaseResultMap" type="com.bawei.bean.Empl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="sdate" property="sdate" jdbcType="DATE" />
    <result column="edate" property="edate" jdbcType="DATE" />
    <result column="econtext" property="econtext" jdbcType="VARCHAR" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="check" parameterType="java.lang.Integer" resultType="com.bawei.bean.Empl">
  	select * from empl where ename=#{ename}
  </select>
  
  <select id="findEmpl" parameterType="com.bawei.bean.Empl" resultType="com.bawei.bean.Empl">
  	select * from empl where 1=1
  	<if test="dname!=null and dname!=''">
  		and dname=#{dname}
  	</if>
  	<if test="sdate!=null">
  		and sdate &gt;= #{sdate}
  	</if>
  	<if test="edate!=null">
  		and edate &lt;=#{edate}
  	</if>
  </select>
  
  <sql id="Base_Column_List" >
    id, ename, sdate, edate, econtext, dname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from empl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from empl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bawei.bean.Empl" >
    insert into empl (id, ename, sdate, 
      edate, econtext, dname
      )
    values (#{id,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{sdate,jdbcType=DATE}, 
      #{edate,jdbcType=DATE}, #{econtext,jdbcType=VARCHAR}, #{dname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bawei.bean.Empl" >
    insert into empl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="sdate != null" >
        sdate,
      </if>
      <if test="edate != null" >
        edate,
      </if>
      <if test="econtext != null" >
        econtext,
      </if>
      <if test="dname != null" >
        dname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=DATE},
      </if>
      <if test="econtext != null" >
        #{econtext,jdbcType=VARCHAR},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bawei.bean.Empl" >
    update empl
    <set >
      <if test="ename != null" >
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null" >
        sdate = #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null" >
        edate = #{edate,jdbcType=DATE},
      </if>
      <if test="econtext != null" >
        econtext = #{econtext,jdbcType=VARCHAR},
      </if>
      <if test="dname != null" >
        dname = #{dname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bawei.bean.Empl" >
    update empl
    set ename = #{ename,jdbcType=VARCHAR},
      sdate = #{sdate,jdbcType=DATE},
      edate = #{edate,jdbcType=DATE},
      econtext = #{econtext,jdbcType=VARCHAR},
      dname = #{dname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>